/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/uploads/2020030114143215804-40545-1-PB.pdf
public/uploads/202003011406471301174017_Sayyid Taufiq A_TUGAS1.pdf
